set nu
set relativenumber
set scrolloff=8
set incsearch
set clipboard=unnamedplus
set clipboard+=unnamed
set clipboard+=ideaput
set visualbell " No annoying sound on errors
set multiple-cursors
set ideajoin " Use Idea to join lines smartly
set ideastatusicon=gray

"set NERDTree

Plug "tpope/vim-surround"
Plug "tpope/vim-commentary"

nnoremap <SPACE> <Nop>
let mapleader="\<Space>"

" Shortcutting split navigation
map <c-h> <C-w>h
map <c-j> <C-w>j
map <c-k> <C-w>k
map <c-l> <C-w>l

" Navigation
"nnoremap <c-j> :action ActivateTerminalToolWindow<CR>

" NERDTree
"nnoremap <leader>n :NERDTreeToggle<CR>
"nnoremap <leader>nf :NERDTreeFocus<CR>

nmap <leader>rn <Action>(RenameElement)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]] <Action>(MethodDown)
nmap [[ <Action>(MethodUp)
nmap gl <Action>(ShowErrorDescription)

" Find
nmap <leader>ff <Action>(GotoFile)
nmap <leader>sg <Action>(FindInPath)
nmap <leader>s. <Action>(RecentFiles)

" Tests
nmap <leader>gtt <Action>(GotoTest)
nmap <leader>rf <Action>(Run)
nmap <leader>rl <Action>(Rerun)
nmap <leader>rt <Action>(RunClass)

" Moving lines
vmap <a-k> <Action>(MoveLineUp)
vmap <a-j> <Action>(MoveLineDown)

" Behave vim
nnoremap Y y$

" Keep visual selection
vnoremap < <gv
vnoremap > >gv

sethandler <c-v> a:ide
